/** STYLES FOR AOE WEB PAGE */

/************************************************************************/
/*                             VARIABLES                                */
/************************************************************************/
:root{
    --margin-default:30px;
    --background-color:rgb(30, 40, 53);
    --link-color: rgb(156,156,156);
    --link-color-hover: rgb(0,134,230);
}

html, body {
}

/************************************************************************/
/*                               HEADER                                 */
/************************************************************************/

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    margin-right: var(--margin-default);
}

.navbar-inverse{
    margin-bottom:0px;
}

aside {
    padding-top: 20px;
    background-color: var(--background-color);
    padding-bottom: 32767px;
    margin-bottom: -32767px;
}

aside ul {
    margin-left: -20px;
}


aside ul a {
    text-decoration: none;
    color: var(--link-color);
}

aside ul a li {
    list-style: none;
    padding: 10px;

}

aside ul a li span {
    margin-left: 0px;
    -webkit-transition: margin-left 0.5s, color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: margin-left 0.5s, color 0.5s;


}

aside ul a:hover{
    text-decoration: none;
    color: var(--link-color-hover);
}

aside ul a:hover li span {
    margin-left: 10px;
}

.logo {
    margin-left: 5%;
    width: 90%;
}

.banner{
    background-image: url('../images/banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-img {
    width: 100%;
    z-index: 1;
}


.content {
    margin-top: var(--margin-default);
}

.page-content {
    background-color:rgb(255,255,255);
    padding-right: 40px;
}

.page-content img {
    float: right;
    margin-top: var(--margin-default);
    max-width: 400px;
    padding-left: var(--margin-default);
    padding-bottom: var(--margin-default);

}

.page-content iframe {
    max-width: 420px;
    float: right;
    margin-top: var(--margin-default);
    margin-left: var(--margin-default);
    margin-bottom: var(--margin-default);
}

.content {
    text-align: justify;
}

.bottom-list-item{
    text-align: center;
    color: var(--link-color);
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.bottom-list-item p{
    border-radius: 3px;
    background-color: var(--background-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-list-item:hover {
    color: var(--link-color-hover);
    text-decoration:none;
}
footer {
    width: 100%;
    color: var(--link-color);
}

footer p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    margin:auto;
}

footer p a {
    color: var(--link-color);
    text-decoration: none;

    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

footer p a:hover{
    text-decoration: none;
    color: var(--link-color-hover);
}

.form-button {
    float: right;
}

#image_url{
    display: none;
}

#audio_url{
    display: none;
}

#video_url{
    display: none;
}
